<!--Pipe operators are useful for formatting strings, currencies, dates and 
other display data, and you can define your own to add to Angular's defaults.-->
<div *ngIf="team"> <!--While team is undefined, ngIf removes the team detail from the Document Object Model-->
  <h2>{{team.name | uppercase}} Details</h2>
  <div><span>ID: </span>{{team.id}}</div>
  <div><label>Name:
    <!--ngModel is Angular's two-way data binding syntax-->
      <input [(ngModel)]="team.name" placeholder="name">
    </label>
  </div>
  <div><label>Country:
      <input [(ngModel)]="team.country" placeholder="country">
    </label>
  </div>
</div>
