<h2>Formula Angular Teams</h2>
<div>
  <label>Team name:
    <input #teamName />
  </label>
  <label>Team country:
    <input #teamCountry />
  </label>
  <!--Once this button is clicked, the input fields are cleared-->
  <button (click)="add(teamName.value, teamCountry.value); teamName.value=''; teamCountry.value=''">
    Add new team
  </button>
</div>
<ul class="teams">
  <!--[class.selected] toggles .selected in the SASS file-->
  <li *ngFor="let team of teams">
    <a routerLink="/detail/{{team.id}}">
      <span class="entrant">{{team.id}}</span>: {{team.name}} ({{team.country}})
    </a>
    <button class="delete" title="Delete team" (click)="delete(team)">DELETE! DELETE! DELETE!</button>
  </li>
</ul>
<!--The below is an Angular property binding
<app-team-detail [team]="selectedTeam"></app-team-detail>-->